body{
    padding: 0;
    margin: 0;
    font-weight: 200; //medium: 500 - black: 900
    background-color: $light;
    color: $dark;
}

h1{color:$secondary; font-weight: 900;}
h2{color:$secondary; font-weight: 900;}
h3{color:$secondary; font-weight: 900;}
h4{color:$secondary; font-weight: 900;}
h5{color:$secondary; font-weight: 900;}
h6{color:$secondary; font-weight: 900;}

.py-6 {padding: 4rem 0;}
.py-7 {padding: 5.5rem 0;}
.py-8 {padding: 6rem 0;}
.pt-6 {padding-top: 4rem;}
.pt-7 {padding-top: 5.5rem;}
.pt-8 {padding-top: 6rem;}
.pb-6 {padding-bottom: 4rem;}
.pb-7 {padding-bottom: 5.5rem;  }
.pb-8 {padding-bottom: 6rem;}

ul{list-style: none;}

.btn-primary{
    color: $white !important;
}

//Header
nav{
    transition: 0.5s;
    background-color: rgba(100, 197, 184,0.6);

    .navbar-brand{
        font-weight: 900;
        //color: $secondary !important;
    }

    .navbar-collapse{
        ul{
            li{
                color: $secondary;
            }
        }
    }

}

.navbar-toggler{
    border: inherit !important;
}
.home-cover{
    height: 556px; //56px margin top
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/orizzontali/img3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid $white;
}
.home-carousel{
    z-index: 1;
    height: 310px;
    margin-top: -190px;
    background-color: $light;
    border: 10px solid $white;
    border-radius: 35px;
    box-shadow: 2px 5px 33px -2px rgba(0,0,0,.12);
}
.slide-row{
    div{
        i{
            font-size: 30px;
            color: $secondary;
        }
    }
}
.slide-row-primary{
    background-color: $primary;
}
.carousel-arrow{
    color: $secondary;
}
.carousel-control-prev{
    top: 80%;
    bottom: inherit;
    width: inherit;
    left: 0;
    font-size: 25px;

    div{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}
.carousel-control-next{
    top: 80%;
    bottom: inherit;
    width: inherit;
    right: 0;
    font-size: 25px;

    div{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}







//Footer
@keyframes jump{
	to { 
        transform: translate(0px, -15px); 
    }
}
.bottom-btn{
    background-color: $primary;
    box-shadow: 2px 5px 33px -2px rgba(0,0,0,.12);
    animation: jump .8s infinite alternate;
    transform-origin: center;
    color: $white;
    width: 60px;
    height: 60px;
    border-radius: 20px;


    i{
        font-size: 20px;
    }
}

