body{
    padding: 0;
    margin: 0;
    font-weight: 300; //medium: 500 - black: 900
    background-color: $light;
    color: $dark;
    line-height: 1.8;
}

b{font-weight: 500;}
strong{font-weight: 500;}

h1{color:$secondary; font-weight: 900;}
h2{color:$secondary; font-weight: 900;}
h3{color:$secondary; font-weight: 900;}
h4{color:$secondary; font-weight: 900;}
h5{color:$secondary; font-weight: 900;}
h6{color:$secondary; font-weight: 900;}

.py-6 {padding: 4rem 0;}
.py-7 {padding: 5.5rem 0;}
.py-8 {padding: 6rem 0;}
.pt-6 {padding-top: 4rem;}
.pt-7 {padding-top: 5.5rem;}
.pt-8 {padding-top: 6rem;}
.pb-6 {padding-bottom: 4rem;}
.pb-7 {padding-bottom: 5.5rem;  }
.pb-8 {padding-bottom: 6rem;}

ul{list-style: none; padding-left: 0; margin-bottom: 0;}

.btn-primary{
    color: $white !important;
}

//Header

/* HAMBURGER 3 */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
.hamburger {
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 3px;
    background-color: $white;
    display: block;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}
.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}

.checkbox3:checked + label > .hamburger3 > .bar3{
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2{
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4{
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
}

nav{
    transition: 0.5s;
    background-color: rgba(100, 197, 184,0.6);

    .navbar-brand{
        font-weight: 900;
        //color: $secondary !important;
    }

    .navbar-collapse{
        ul{
            li{
                color: $secondary;
            }
        }
    }

}

.navbar-toggler{
    border: inherit !important;

    label{
        margin-bottom: 0;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: $secondary;
}
.nav-link{
    font-weight: 500;
    //color: $secondary !important;
}
.nav-link:hover{
    color: $white !important;
}

//................................................
//Hero
.home-cover{
    height: 556px; //56px margin top
    //background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/orizzontali/img2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid $white;
}
.home-carousel{
    z-index: 1;
    height: 310px;
    margin-top: -190px;
    background-color: $light;
    border: 10px solid $white;
    border-radius: 35px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);
}
//Mobile
@media screen and (max-width: 600px) {
    .home-carousel {
        height: 420px;
    }
}
.slide-row{
    div{
        i{
            font-size: 30px;
            color: $secondary;
        }
    }
}
.slide-row-primary{
    background-color: $primary;
}
.carousel-arrow{
    color: $secondary;
}
.carousel-control-prev{
    top: 80%;
    bottom: inherit;
    width: inherit;
    left: 0;
    font-size: 25px;

    div{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}
.carousel-control-next{
    top: 80%;
    bottom: inherit;
    width: inherit;
    right: 0;
    font-size: 25px;

    div{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}

//................................................
//I nostri trattamenti
.treatment-carousel{
    background-color: $light;
    border: 10px solid $white;
    border-radius: 35px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);
    transition: .5s;

    i{
        font-size: 35px;
        color: $secondary;
    }

    h6{
        color: $secondary;
    }
}
//Mobile
@media screen and (max-width: 600px) {
    .treatment-carousel {
        h6{
            font-size: 18px;
        }
    }
}
.treatment-carousel:hover{
    transform: scale(1.1);

    i{
        opacity: 0;
    }
    h6{
        opacity: 0;
    }
}
.treatment-carousel-1:hover{
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/quadrate/igiene_dentale.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.treatment-carousel-2:hover{
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/quadrate/chirurgia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.treatment-carousel-3:hover{
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/quadrate/impiantologia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.treatment-carousel-4:hover{
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/quadrate/ortodonzia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
//................................................
//Banner
.bg-banner{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



//................................................
//Articoli
.cmd{
    border-radius: 0.25rem;
    padding: 15px;
    background-color: $dark;
    color: $white;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal !important;
}

.blog-card-blog {
    margin-top: 30px;
}
.blog-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 35px;
    border: 10px solid $white;
    color: $dark;
    background: $light;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);
    transition: 0.5s;

    .blog-card-image{
        transition: 0.5s;
    }
}
.blog-card:hover{
    transform: scale(1.02);

    .blog-card-image{
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);
    }
}
.blog-card .blog-card-image {
    height: 50%;
    position: relative;
    overflow: hidden;
    margin-top: -50px;
    border-radius: 35px;
    border: 10px solid $white;
    //box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);
}
.blog-card .blog-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.blog-card .blog-table {
    padding: 15px 30px;
}
.blog-table {
    margin-bottom: 0px;
}
.blog-category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}
.blog-text-success {
    color: #28a745!important;
}
.blog-card-blog .blog-card-caption {
    margin-top: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog-card .ftr div {
    display: inline-block;
}
.blog-card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.blog-card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}
.blog-card .ftr .stats {
    line-height: 30px;
}

.blog-text-button{
    border: inherit !important;
    border-radius: .25rem !important;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);

    .card-header{
        border-bottom: inherit !important;
    }
}
.img{
    height: 190px !important;
}






//................................................
//Footer
@keyframes jump{
	to { 
        transform: translate(0px, -15px); 
    }
}
.bottom-btn{
    background-color: $primary;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);
    animation: jump .8s infinite alternate;
    transform-origin: center;
    color: $white;
    width: 60px;
    height: 60px;
    border-radius: 20px;


    i{
        font-size: 20px;
    }
}

.orari-footer{
    color: $white;
}
.nica-credits{
    color: $light;
    font-size: 14px;
}
.credit{
    color: $light;
    font-size: 12px;
}


//Contatti
.custom-bg{
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid $white;
}
label{
    color: $secondary;
}
input::placeholder{
    color: $gray-500 !important;
}
.wpcf7{
    max-width: 1000px !important;
}
.wpcf7-list-item{
    margin-left: 0 !important;
}


//Widget
#calendar-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 1rem;

    div{
        table{
            width: 100%;
            text-align: center;
        }
        caption{
            text-align: center;
        }
    }
}


//Trattamenti
.list-group-item{
    color: $white !important;
    font-weight: 500;
    background-color: $primary !important;
    border-radius: 1rem !important;
    border: inherit !important;
    margin-bottom: 1rem;
    transition: 0.3s;
}
.list-group-item:hover{
    cursor: pointer;
    color: $secondary !important;
    font-weight: 500;
    //background-color: $secondary;
}
#collapseOne{
    margin-left: 30px;
    margin-bottom: 1rem;
}
#collapseTwo{
    margin-left: 30px;
    margin-bottom: 1rem;
}
.treatment-card{
    background-color: $light;
    border: 10px solid $white;
    border-radius: 35px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.1);
    transition: .5s;
}
.card-body{
    h6{
        font-style: italic;
        padding-bottom: 1rem;
    }
}

.staff-row{
    //width: 772px;
    height: 310px;
    overflow-x: scroll;
    overflow-y: inherit;
}
.dsply{
    //display: block ruby;
    display: inline-flex;
}
.staff-card{ 
    width: 170px;
    //height: 250px;
    border-top: 10px solid $white;
    border-left: 10px solid $white;
    border-right: 10px solid $white;
    border-bottom: inherit;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);

    .nome{
        font-size: 12px;
    }
    .mansione{
        font-size: 14px;
        font-weight: 500;
        color: $primary;
    }
}